*/mnist/*
*/MNIST/*
*MNIST*
*.csv
__pycache__
*/data/seminar_objdet_retina_oi5_ball/*
*/data/models/*
*/data/VOC/*
*/data/light*
seminar_objdet_retina_oi5_ball*
weights*
tmp*

*/VOC2012_/*
*/VOCdevkit/*
pytorch-diffusion
hw12/data
hw12/lightning_logs